.login-container{
    display: flex;
    .login-picture{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .login-image{
            width: 517px;
            height: 517px;
            
        }
    }
    .login-from{
        width: 50%;
    }
}