@import "../../colors";
@import "../../breakPoints";

.dashboard-container {
  display: flex;
  flex-direction: column;
  .dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-white;
    z-index: 1;
  }
  .dashboard-body {
    margin: 75px 0 0;
    display: flex;
    @media screen and (max-width: $break-xsmall) {
      margin: 50px 0 0;
    }
    .dashboard-side-navbar {
      width: 20%;
      height: calc(100% - 65px);
      position: fixed;
      border-right: 1px solid $color-lightgray;
      @media screen and (max-width: $break-small) {
        width: 30%;
      }
      @media screen and (max-width: $break-xsmall) {
        width: 20%;
        &:hover {
          width: 35%;
        }
      }
    }
    .dashboard-details { 
      margin: 0 0 0 20%;
      flex-grow: 1;
      @media screen and (max-width: $break-small) {
        margin: 0 0 0 30%;
      }
      @media screen and (max-width: $break-xsmall) {
        margin: 0 0 0 20%;
      }
    }
  }
}
