@import "../../colors";
@import "../../breakPoints";

.dashboard-container {
  display: flex;
  flex-direction: column;
  .dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-white;
  }
  .dashboard-body {
    margin: 75px 0 0;
    display: flex;
    .dashboard-side-navbar {
      width: 20%;
      position: fixed;
      @media screen and (max-width: $break-small) {
        width: 30%;
      }
      @media screen and (max-width: $break-xsmall) {
        width: 40%;
      }
    }
    .dashboard-details {
      margin: 0 0 0 20%;
      @media screen and (max-width: $break-small) {
        margin: 0 0 0 30%;
      }
      @media screen and (max-width: $break-xsmall) {
        margin: 0 0 0 40%;
      }
    }
  }
}
