@import "../../colors";
@import "../../breakPoints";

.sideNavBar-container {
  .sideNavBar-list {
    padding: 0;
    .sideNav-list-item {
      box-sizing: border-box;
      border-left: 5px solid $color-white;
      @media screen and (max-width: $break-small) {
        padding: 5px 8px;
      }
      .list-item-icon {
        min-width: 30px;
        @media screen and (max-width: $break-small) {
          min-width: 23px;
        }
        .list-icon {
          width: 20px;
          height: 20px;
          box-sizing: border-box;
          padding: 2px;
        }
      }
      .list-item-icon.list-item-icon-active {
        color: $color-sidenav-active-border;
      }
    }
    .sideNav-list-item.sideNav-list-item-active {
      color: $color-sidenav-active-border;
      border-left: 5px solid $color-sidenav-active-border;
      background-color: $color-sidenav-active-background;
    }
  }
}
