$color-login-button: #008CFF;
$color-white: #FFFFFF;
$color-black: black;
$color-gray: gray;
$color-lightgray: lightgray;
$login-from-background-color: #F7F7F7;
$appbar-profile-button-background-color:  #DEE5EE;
$rating-color:#388E3C;
$color-footer:#2E1D1E;
