$color-button: #008CFF;
$color-white: #FFFFFF;
$color-black: black;
$color-gray: gray;
$color-lightgray: lightgray;
$login-from-background-color: #F7F7F7;
$appbar-profile-button-background-color:  #DEE5EE;
$color-sidenav-active-background:#E4F3FF;
$color-sidenav-active-border:#008CFF;

