.student-outer-container {
  width: 90%;
  margin: 0 auto;
}
.header-student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 0px;
  .header-student-text {
    color: #40494d;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .student-upload-button-container {
    display: flex;
    .icon-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin-right: 12px;
      cursor: pointer;
      .icon-image {
        width: 30px;
      }
    }
  }
  .add-student-button {
    width: 105px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #008cff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000026;
    border-radius: 3px;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }
}
td {
  border-left: 1px solid #dcdcdc !important;
  border-right: 1px solid #dcdcdc !important;
}
.outer-box-upload {
  width: 99%;
  height: 308px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 10px;
  .upload-header-container {
    display: flex;
    height: 15%;
    .upload-box-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font: normal normal normal 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #78827a;
    }
  }
  .inner-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 79%;
    .MuiButton-containedPrimary {
      background: #008cff !important;
      display: flex;
      justify-content: space-between;
    }
  }
}

.MuiDialog-paperScrollPaper {
  background: transparent !important;
  box-shadow: none !important;
}
// .MuiTableRow-root MuiTableRow-head {
//   background-color: #12324b !important; background-color: #5896c738 !important;
// }
.MuiTableCell-head {
  background-color: #12324b !important;
}
.box-top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008cff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 67%;
  height: 43px;
  position: relative;
  top: 24px;
  left: 60px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.box-content {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  form {
    margin-top: 31px;
    width: 70%;
    .text-fields-student {
      margin: 1px 0px;
      width: 100%;
     .MuiFormControl-root{
        margin: 8px auto !important;
        width: 100% !important;
      }
    }
    .student-buttton-container {
      display: flex;
      justify-content: space-between;
      margin: 14px 0px;
      .student-form-cancel-button {
        width: 122px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #008cff;
        border-radius: 3px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
      }
      .student-form-add-button {
        width: 122px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #008cff;
        color: white;
        border-radius: 3px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
      }
    }
  }
}
